Repository codybias9/real-estate-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-tenant-queries, check-migrations, lint-tenant-usage

.pre-commit-config.yaml:

# Pre-commit hooks for Real Estate OS
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Tenant ID Query Checks
      - id: check-tenant-queries
        name: Check tenant_id in queries
        entry: python scripts/ci/check_tenant_queries.py
        language: system
        pass_filenames: false
        files: \.(py)$
        exclude: '^(tests/|scripts/ci/)'

      # Migration Tenant ID Checks
      - id: check-migrations
        name: Check migrations for tenant_id
        entry: python scripts/ci/check_migrations.py
        language: system
        pass_filenames: false
        files: ^db/versions/.*\.py$

      # Tenant Usage Linting
      - id: lint-tenant-usage
        name: Lint tenant usage patterns
        entry: python scripts/ci/lint_tenant_usage.py
        language: system
        pass_filenames: false
        files: \.(py)$
        exclude: '^(tests/|scripts/ci/)'

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(migrations/|web/)

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ^(migrations/|web/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=100", "--extend-ignore=E203,W503"]
        exclude: ^(migrations/|web/)

  # TypeScript/JavaScript (for web frontend)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^web/.*\.(ts|tsx|js|jsx)$
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.0.0'
          - '@typescript-eslint/parser@6.0.0'

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

docs: Add Wave 1 Final Summary - 100% Complete
  WAVE1_FINAL_SUMMARY.md
Due: none

feat(ml): Implement Wave 2.1 - Portfolio Twin training pipeline
  dags/portfolio_twin_training.py
  ml/README.md
  ml/__init__.py
  ml/embeddings/__init__.py
  ml/models/__init__.py
  ml/models/portfolio_twin.py
  ml/serving/__init__.py
  ml/serving/portfolio_twin_service.py
  ml/training/__init__.py
  ml/training/data_loader.py
  ml/training/train_portfolio_twin.py
  ml/utils/__init__.py
  ml/utils/evaluation.py
Due: check-tenant-queries, lint-tenant-usage

feat(ml): Implement Wave 2.2 - Qdrant vector database integration
  dags/embedding_indexing.py
  docker-compose.qdrant.yml
  ml/embeddings/README.md
  ml/embeddings/__init__.py
  ml/embeddings/indexer.py
  ml/embeddings/qdrant_client.py
  ml/embeddings/similarity_service.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add Session 3 progress report - Wave 2.1-2.2 complete
  SESSION_3_PROGRESS_REPORT.md
Due: none

feat(api): Implement Wave 2.3 - Similarity search API integration
  api/app/routers/properties.py
Due: check-tenant-queries, lint-tenant-usage

feat(web): Implement Wave 2.4 - UI integration for ML-powered features
  web/src/components/PropertyDrawer.tsx
  web/src/components/SimilarPropertiesTab.tsx
  web/src/services/api.ts
  web/src/types/provenance.ts
Due: none

feat(ml): Implement Wave 3.1 (Part 1) - Comp-Critic adversarial comp analysis
  api/app/routers/properties.py
  docs/WAVE_3_PLAN.md
  ml/models/comp_critic.py
  ml/serving/comp_critic_service.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add Session 4 progress report - Wave 2 complete, Wave 3.1 Part 1 complete
  SESSION_4_PROGRESS_REPORT.md
Due: none

feat(web): Implement Wave 3.1 (Part 2) - Comp Analysis UI
  web/src/components/CompAnalysisTab.tsx
  web/src/components/PropertyDrawer.tsx
  web/src/services/api.ts
  web/src/types/provenance.ts
Due: none

feat(negotiation): Implement Wave 3.2 - Negotiation Brain
  api/app/routers/properties.py
  ml/models/negotiation_brain.py
  ml/models/offer_recommendations.py
  ml/serving/negotiation_brain_service.py
  ml/utils/messaging_templates.py
  web/src/components/NegotiationTab.tsx
  web/src/components/PropertyDrawer.tsx
  web/src/services/api.ts
  web/src/types/provenance.ts
Due: check-tenant-queries, lint-tenant-usage

docs: Add final session summary from previous session
  FINAL_SESSION_SUMMARY.md
Due: none

feat(outreach): Implement Wave 3.3 - Outreach Automation (70% complete)
  db/models_outreach.py
  docs/WAVE_3.3_OUTREACH_IMPLEMENTATION_STATUS.md
  ml/models/outreach_campaigns.py
  ml/services/email_service.py
Due: check-tenant-queries, lint-tenant-usage

feat(outreach): Complete Wave 3.3 - Outreach Automation (100%)
  api/app/routers/outreach.py
  api/main.py
  web/src/components/CampaignsTab.tsx
  web/src/services/api.ts
  web/src/types/provenance.ts
Due: check-tenant-queries, lint-tenant-usage

feat(offer-wizard): Implement Wave 4.1 - Offer Wizard with constraint satisfaction
  api/app/routers/properties.py
  ml/models/offer_wizard.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive session continuation summary
  docs/SESSION_CONTINUATION_SUMMARY.md
Due: none

docs: Add comprehensive platform audit (12,000 words)
  docs/PLATFORM_AUDIT_2025.md
Due: none

feat(auth): Implement JWT & API key authentication system (PR#1)
  .env.example
  api/app/auth/__init__.py
  api/app/auth/config.py
  api/app/auth/dependencies.py
  api/app/auth/jwt_handler.py
  api/app/auth/models.py
  api/app/middleware/__init__.py
  api/app/middleware/rate_limit.py
  api/app/middleware/security_headers.py
  api/app/routers/auth.py
  api/main.py
  db/models_auth.py
  db/versions/004_authentication_system.py
  docs/AUTH_SETUP.md
  docs/PR1_AUTH_IMPLEMENTATION.md
  tests/test_auth.py
Due: check-tenant-queries, check-migrations, lint-tenant-usage

test(ci): Implement comprehensive testing infrastructure (PR#2)
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  docs/PR2_TESTING_IMPLEMENTATION.md
  docs/TESTING_GUIDE.md
  pytest.ini
  tests/conftest.py
  tests/test_outreach.py
  tests/test_properties.py
  web/package.json
  web/src/components/CampaignsTab.test.tsx
  web/src/components/PropertyDrawer.test.tsx
  web/src/services/api.test.ts
  web/src/test/setup.ts
  web/src/test/utils.tsx
  web/vitest.config.ts
Due: none

build(docker): Add Docker and Kubernetes deployment infrastructure (PR#3)
  .dockerignore
  api/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  docs/DOCKER_DEPLOYMENT.md
  k8s/helm/Chart.yaml
  k8s/helm/templates/deployment-api.yaml
  k8s/helm/values.yaml
  web/Dockerfile
  web/nginx.conf
Due: none

feat(observability): Add OpenTelemetry, Prometheus, Grafana, and Sentry (PR#4)
  api/app/observability/__init__.py
  api/app/observability/logging.py
  api/app/observability/metrics.py
  api/app/observability/sentry.py
  api/app/observability/tracing.py
  api/main.py
  api/requirements.txt
  observability/docker-compose.observability.yml
  observability/prometheus/prometheus.yml
Due: check-tenant-queries, lint-tenant-usage

perf(cache): Add Redis caching layer for provenance queries (PR#5)
  api/app/cache/__init__.py
  api/app/cache/decorators.py
  api/app/cache/redis_client.py
  api/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(geo): Add PostGIS geographic search with 200+ filters (PR#6)
  api/app/geo/__init__.py
  api/app/geo/search.py
  api/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(ml): Add owner deduplication with Splink (PR#7)
  ml/deduplication/owner_dedupe.py
  ml/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(ml): Add SHAP/DiCE explainability UI (PR#8)
  ml/explainability/shap_explainer.py
  ml/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(workflows): Add Temporal durable workflows for offers (PR#9)
  workflows/offer_workflow.py
  workflows/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(integrations): Add DocuSign e-signature integration (PR#10)
  api/app/integrations/docusign.py
  api/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(ml): Add lease document ingestion (PR#11)
  ml/document_processing/lease_parser.py
  ml/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(risk): Add FEMA + wildfire/heat hazard overlays (PR#12 - FINAL)
  api/app/risk/hazard_layers.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive production readiness audit (12 PRs complete)
  PRODUCTION_AUDIT.md
Due: none

feat(data-quality): Add Great Expectations + OpenLineage integration (PR#13)
  dags/data_quality_dag.py
  libs/data_quality/gx/checkpoints/daily_validation.py
  libs/data_quality/gx/great_expectations.yml
  services/lineage/docker-compose.marquez.yml
  services/lineage/openlineage_integration.py
Due: check-tenant-queries, lint-tenant-usage

feat(ml): Add Feast feature store, Comp-Critic valuation, and offer optimization (PRs #15, #20, #23)
  IMPLEMENTATION_ROADMAP.md
  api/app/ml/feast_client.py
  ml/feature_repo/feature_store.yaml
  ml/feature_repo/features/market_features.py
  ml/feature_repo/features/property_features.py
  ml/optimization/offer_optimizer.py
  ml/valuation/comp_critic.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive session summary and operations runbook
  RUNBOOK.md
  SESSION_FINAL_SUMMARY.md
Due: none

feat(auth): Add Keycloak OIDC integration with hybrid auth support (PR#14)
  api/app/auth/hybrid_dependencies.py
  api/app/auth/oidc.py
  auth/keycloak/README.md
  auth/keycloak/docker-compose.keycloak.yml
  web/src/auth/OIDCProvider.tsx
Due: check-tenant-queries, lint-tenant-usage

feat(geo): Add libpostal normalization + enhanced PostGIS (PR#16)
  api/app/geo/geocoding.py
  db/migrations/0010_add_postgis_extensions.sql
  services/normalization/Dockerfile
  services/normalization/docker-compose.normalization.yml
  services/normalization/main.py
  services/normalization/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(vector): Add Qdrant vector search for portfolio twins (PR#18)
  api/app/routers/vector_search.py
  api/app/vector/qdrant_client.py
  ml/embeddings/property_encoder.py
  services/qdrant/docker-compose.qdrant.yml
  services/qdrant/qdrant_config.yaml
Due: check-tenant-queries, lint-tenant-usage

feat(monitoring): Add Evidently drift detection (PR#19)
  dags/monitoring/drift_monitoring_dag.py
  ml/monitoring/evidently/drift_detector.py
  ml/monitoring/evidently/requirements.txt
Due: check-tenant-queries, lint-tenant-usage

feat(valuation): Add MF/CRE DCF valuation engine (PR#21)
  api/app/routers/valuation.py
  ml/valuation/cre_valuation.py
  ml/valuation/dcf_engine.py
  ml/valuation/mf_valuation.py
  ml/valuation/scenario_analysis.py
Due: check-tenant-queries, lint-tenant-usage

feat(regime): Add market regime monitoring with Bayesian change-point detection (PR#22)
  api/app/routers/regime.py
  dags/regime/regime_monitoring_dag.py
  ml/regime/changepoint_detection.py
  ml/regime/market_regime_detector.py
Due: check-tenant-queries, lint-tenant-usage

feat(negotiation): Add negotiation brain with NLP, Thompson Sampling, and contextual bandits (PR#24)
  api/app/routers/negotiation.py
  dags/negotiation/intelligent_outreach_dag.py
  ml/negotiation/bandits.py
  ml/negotiation/contact_policy.py
  ml/negotiation/reply_classifier.py
Due: check-tenant-queries, lint-tenant-usage

docs: Complete production audit with model cards
  docs/AUDIT_REPORT.md
  docs/EVIDENCE_INDEX.md
  docs/GAPS_AND_REMEDIATIONS.md
  docs/MODEL_CARDS/arv.md
  docs/MODEL_CARDS/comp-critic.md
  docs/MODEL_CARDS/dcf.md
  docs/MODEL_CARDS/negotiation.md
  docs/MODEL_CARDS/regime.md
Due: none
