Repository codybias9/real-estate-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-tenant-queries, check-migrations, lint-tenant-usage

check-tenant-queries:
  name: Check tenant_id in queries
  entry: python scripts/ci/check_tenant_queries.py
  language: system
  pass_filenames: false

check-migrations:
  name: Check migrations for tenant_id
  entry: python scripts/ci/check_migrations.py
  language: system
  pass_filenames: false

lint-tenant-usage:
  name: Lint tenant usage patterns
  entry: python scripts/ci/lint_tenant_usage.py
  language: system
  pass_filenames: false

docs: Add enhanced seed data documentation for Phase 1.4
  ENHANCED_SEED_DATA.txt
Due: none

feat: Complete Phase 3 (Feature UIs) and Phase 4 (Real SSE Events)
  api/event_emitter.py
  api/routers/deals.py
  api/routers/leads.py
  api/routers/properties.py
  api/routers/sse_events.py
  frontend/src/app/dashboard/admin/page.tsx
  frontend/src/app/dashboard/automation/page.tsx
  frontend/src/app/dashboard/data/page.tsx
  frontend/src/app/dashboard/deals/page.tsx
  frontend/src/app/dashboard/leads/page.tsx
  frontend/src/app/dashboard/workflow/page.tsx
  frontend/src/lib/api.ts
Due: check-tenant-queries, lint-tenant-usage

feat: Complete Phase 5 - Auth enforcement and hardening
  api/auth_utils.py
  api/routers/deals.py
  api/routers/properties.py
Due: check-tenant-queries, lint-tenant-usage

feat: Complete Phase 6 - Enhance CI/CD with comprehensive checks
  .github/workflows/runtime-verification.yml
Due: none

docs: Add consistency fixes, auth strategy, and verification scripts
  AUTH_STRATEGY.md
  ENHANCED_SEED_DATA.txt
  EVIDENCE_PACK.md
  LOCAL_VERIFICATION.sh
  PLAN.md
  SSE_TEST.sh
Due: none

feat: Add verification artifacts, write guard, and PR evidence template
  .gitignore
  LOCAL_VERIFICATION.sh
  PR_EVIDENCE_TEMPLATE.md
  SSE_TEST.sh
  api/auth_utils.py
  api/routers/leads.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add final status summary with verification checklist
  FINAL_STATUS.md
Due: none

feat: Add comprehensive frontend visibility hooks for SSE and auth
  COMPREHENSIVE_VERIFICATION_GUIDE.md
  FRONTEND_VERIFICATION.sh
  frontend/src/app/dashboard/admin/page.tsx
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/SSEConnectionBadge.tsx
  frontend/src/components/Toast.tsx
  frontend/src/hooks/useToast.ts
  frontend/src/lib/api.ts
Due: none

docs: Add Option B completion summary with visual verification guide
  OPTION_B_COMPLETE.md
Due: none

docs: Add runtime evidence collection and reality check documentation
  COLLECT_PR_EVIDENCE.sh
  PR_CHECKLIST.md
  REALITY_CHECK.md
Due: none

feat: Add comprehensive automated runtime verification scripts
  RUN_ALL_VERIFICATION.ps1
  RUN_ALL_VERIFICATION.sh
  VERIFICATION_QUICKSTART.md
Due: none

docs: Add guide for finding and running verification script on Windows
  FIND_AND_RUN.md
Due: none

feat: Add simplified PowerShell wrapper for Git Bash verification
  RUN_VERIFICATION_SIMPLE.ps1
Due: none

docs: Add comprehensive platform audit report for demo readiness
  PLATFORM_AUDIT_REPORT.md
Due: none

feat: Complete Phase 1 - Foundation (Models, DB, Scrapers, API)
  IMPLEMENTATION_PLAN.md
  api/database/__init__.py
  api/database/connection.py
  api/main.py
  api/routes/__init__.py
  api/routes/campaigns.py
  api/routes/dashboard.py
  api/routes/documents.py
  api/routes/enrichment.py
  api/routes/properties.py
  api/routes/scoring.py
  api/schemas/__init__.py
  db/models.py
  db/versions/001_create_all_tables.py
  src/models/__init__.py
  src/models/campaign.py
  src/models/document.py
  src/models/enrichment.py
  src/models/property.py
  src/models/score.py
  src/scraper/items.py
  src/scraper/property_generator.py
  src/scraper/scraper/pipelines.py
  src/scraper/spiders/listings.py
Due: check-tenant-queries, check-migrations, lint-tenant-usage

feat: Complete Phase 2 - Intelligence (Enrichment & Scoring Services)
  agents/enrichment/__init__.py
  agents/enrichment/enrich.py
  agents/enrichment/service.py
  agents/scoring/__init__.py
  agents/scoring/scorer.py
  dags/enrichment_property.py
  dags/score_master.py
Due: check-tenant-queries, lint-tenant-usage

feat: Complete Real Estate OS platform - full MVP demo ready
  DEMO_GUIDE.md
  PLATFORM_COMPLETION_SUMMARY.md
  agents/docgen/__init__.py
  agents/docgen/generator.py
  agents/docgen/service.py
  agents/outreach/__init__.py
  agents/outreach/email_service.py
  api/routes/campaigns.py
  api/routes/documents.py
  dags/docgen_packet.py
  dags/email_outreach.py
  frontend/.gitignore
  frontend/next.config.js
  frontend/postcss.config.js
  frontend/src/app/campaigns/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/pipeline/page.tsx
  frontend/src/app/properties/[id]/page.tsx
  frontend/src/app/properties/page.tsx
  frontend/src/types/index.ts
  frontend/tailwind.config.js
  requirements.txt
  scripts/generate_demo_data.py
  templates/investor_memo.mjml
Due: check-tenant-queries, lint-tenant-usage

docs: Add quick start guide and setup scripts
  .env.example
  QUICK_START.md
  scripts/setup_demo.sh
Due: none

fix: Rename 'metadata' columns to 'extra_data' to avoid SQLAlchemy reserved word
  db/models.py
Due: check-tenant-queries, lint-tenant-usage

feat: Add WSL setup script for easy Docker-based setup
  setup-from-wsl.sh
Due: none

docs: Add quick start guide and setup scripts
  quick-setup.sh
Due: none

feat: Add database setup script with correct credentials
  setup-database.sh
Due: none

feat: Add database setup script with correct credentials
  setup-db-correct.sh
Due: none

Path conditions:
  check-tenant-queries: any of: \.(py)$, but not: ^(tests/|scripts/ci/)
  check-migrations: any of: ^db/versions/.*\.py$
  lint-tenant-usage: any of: \.(py)$, but not: ^(tests/|scripts/ci/)
