Repository codybias9/real-estate-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-tenant-queries, check-migrations, lint-tenant-usage

.pre-commit-config.yaml:

# Pre-commit hooks for Real Estate OS
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Tenant ID Query Checks
      - id: check-tenant-queries
        name: Check tenant_id in queries
        entry: python scripts/ci/check_tenant_queries.py
        language: system
        pass_filenames: false
        files: \.(py)$
        exclude: '^(tests/|scripts/ci/)'

      # Migration Tenant ID Checks
      - id: check-migrations
        name: Check migrations for tenant_id
        entry: python scripts/ci/check_migrations.py
        language: system
        pass_filenames: false
        files: ^db/versions/.*\.py$

      # Tenant Usage Linting
      - id: lint-tenant-usage
        name: Lint tenant usage patterns
        entry: python scripts/ci/lint_tenant_usage.py
        language: system
        pass_filenames: false
        files: \.(py)$
        exclude: '^(tests/|scripts/ci/)'

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(migrations/|web/)

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ^(migrations/|web/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=100", "--extend-ignore=E203,W503"]
        exclude: ^(migrations/|web/)

  # TypeScript/JavaScript (for web frontend)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^web/.*\.(ts|tsx|js|jsx)$
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.0.0'
          - '@typescript-eslint/parser@6.0.0'

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

feat: Collab.Timeline complete with tests and docs (PR10)
  agents/collab/timeline/README.md
  agents/collab/timeline/pyproject.toml
  agents/collab/timeline/src/timeline/repository.py
  agents/collab/timeline/tests/conftest.py
  agents/collab/timeline/tests/test_timeline.py
  audit_artifacts/collab/pr10_timeline_evidence.md
Due: check-tenant-queries, lint-tenant-usage

feat: Frontend vertical slice with Next.js (PR11)
  audit_artifacts/frontend/pr11_nextjs_vertical_slice_evidence.md
  frontend/.env.local.example
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next.config.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/__tests__/components/PropertyCard.test.tsx
  frontend/src/__tests__/components/ScoreVisualization.test.tsx
  frontend/src/__tests__/lib/api-client.test.ts
  frontend/src/__tests__/lib/utils.test.ts
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/PropertyCard.tsx
  frontend/src/components/PropertyDrawer.tsx
  frontend/src/components/PropertyFilters.tsx
  frontend/src/components/PropertyList.tsx
  frontend/src/components/ScoreVisualization.tsx
  frontend/src/components/Timeline.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-outreach.ts
  frontend/src/hooks/use-properties.ts
  frontend/src/hooks/use-timeline.ts
  frontend/src/lib/api-client.ts
  frontend/src/lib/utils.ts
  frontend/src/types/index.ts
  frontend/src/types/outreach.ts
  frontend/src/types/property.ts
  frontend/src/types/timeline.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
Due: none

feat: Authentication & Tenancy with JWT (PR12)
  api/tests/test_auth.py
  api/v1/__init__.py
  api/v1/auth.py
  audit_artifacts/auth/pr12_auth_tenancy_evidence.md
  services/auth/README.md
  services/auth/pyproject.toml
  services/auth/src/auth/__init__.py
  services/auth/src/auth/jwt_handler.py
  services/auth/src/auth/middleware.py
  services/auth/src/auth/models.py
  services/auth/src/auth/password.py
  services/auth/src/auth/repository.py
  services/auth/tests/__init__.py
  services/auth/tests/test_jwt_handler.py
  services/auth/tests/test_models.py
  services/auth/tests/test_password.py
Due: check-tenant-queries, lint-tenant-usage

feat: Security hygiene with rate limiting and CORS (PR17)
  api/main.py
  audit_artifacts/security/pr17_security_hygiene_evidence.md
  services/security/README.md
  services/security/pyproject.toml
  services/security/src/security/__init__.py
  services/security/src/security/cors.py
  services/security/src/security/headers.py
  services/security/src/security/rate_limit.py
  services/security/src/security/request_id.py
  services/security/src/security/validation.py
  services/security/tests/__init__.py
  services/security/tests/test_validation.py
Due: check-tenant-queries, lint-tenant-usage

feat: Observability with logging and metrics (PR13)
  api/main.py
  audit_artifacts/observability/pr13_observability_evidence.md
  services/observability/README.md
  services/observability/pyproject.toml
  services/observability/src/observability/__init__.py
  services/observability/src/observability/errors.py
  services/observability/src/observability/logging.py
  services/observability/src/observability/metrics.py
  services/observability/tests/__init__.py
  services/observability/tests/test_errors.py
  services/observability/tests/test_logging.py
  services/observability/tests/test_metrics.py
Due: check-tenant-queries, lint-tenant-usage

feat: Redis cache service with event-driven invalidation (PR14)
  api/v1/__init__.py
  api/v1/properties.py
  services/cache/EVIDENCE.md
  services/cache/README.md
  services/cache/pyproject.toml
  services/cache/src/cache/__init__.py
  services/cache/src/cache/client.py
  services/cache/src/cache/decorators.py
  services/cache/src/cache/invalidation.py
  services/cache/tests/conftest.py
  services/cache/tests/test_client.py
  services/cache/tests/test_decorators.py
  services/cache/tests/test_invalidation.py
Due: check-tenant-queries, lint-tenant-usage

feat: External data connectors with fallback and cost tracking (PR15)
  services/connectors/README.md
  services/connectors/pyproject.toml
  services/connectors/src/connectors/__init__.py
  services/connectors/src/connectors/attom.py
  services/connectors/src/connectors/base.py
  services/connectors/src/connectors/manager.py
  services/connectors/src/connectors/openaddresses.py
  services/connectors/src/connectors/regrid.py
  services/connectors/tests/conftest.py
  services/connectors/tests/test_attom.py
  services/connectors/tests/test_manager.py
  services/connectors/tests/test_regrid.py
Due: check-tenant-queries, lint-tenant-usage

feat: Qdrant vector database smoke test integration (PR16)
  services/vector/README.md
  services/vector/pyproject.toml
  services/vector/src/vector/__init__.py
  services/vector/src/vector/client.py
  services/vector/tests/test_vector_smoke.py
Due: check-tenant-queries, lint-tenant-usage

docs: Comprehensive documentation and E2E test suite (PR18)
  AUDIT_REPORT.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  tests/e2e/test_property_lifecycle.py
Due: none

docs: Comprehensive audit execution report with final evaluation
  audit_artifacts/AUDIT_EXECUTION_REPORT.md
Due: none

feat: Complete production readiness - Portfolio, DLQ, and Backup/Restore (Yellows → Green)
  RUNBOOKS/backup-strategy.md
  RUNBOOKS/restore.md
  api/v1/ops/dlq.py
  audit_artifacts/logs/minio-object-restore-test-20251103.txt
  audit_artifacts/logs/postgres-pitr-restore-test-20251103.txt
  audit_artifacts/logs/restore-steps.txt
  frontend/src/components/PortfolioDashboard.tsx
  infrastructure/minio/versioning-config.sh
  infrastructure/rabbitmq/dlq_config.py
  ops/dlq/replay.py
  services/events/src/events/dlq_consumer.py
  services/metrics/migrations/001_create_metrics_tables.sql
  services/metrics/src/metrics/api.py
  services/metrics/src/metrics/etl_daily.py
  services/metrics/src/metrics/models.py
  services/metrics/tests/test_etl_accuracy.py
  tests/integration/test_dlq_flow.py
Due: check-tenant-queries, lint-tenant-usage

feat: Launch guardrails and Full Go acceptance (Final)
  FULL_GO_ACCEPTANCE_REPORT.md
  docs/LAUNCH_GUARDRAILS.md
  services/feature-flags/src/flags.py
Due: check-tenant-queries, lint-tenant-usage

docs: Strategic 6-month post-launch feature roadmap
  docs/POST_LAUNCH_ROADMAP.md
Due: none

feat: Implement comprehensive UX features and workflow accelerators
  UX_FEATURES_IMPLEMENTATION.md
  api/database.py
  api/main.py
  api/routers/__init__.py
  api/routers/properties.py
  api/routers/quick_wins.py
  api/routers/workflow.py
  api/schemas.py
  db/models.py
  db/versions/c9f3a8e1d4b2_add_ux_feature_models.py
  pyproject.toml
Due: check-tenant-queries, check-migrations, lint-tenant-usage

feat: Complete UX features implementation - All roadmap features delivered
  IMPLEMENTATION_COMPLETE.md
  api/database.py
  api/main.py
  api/routers/__init__.py
  api/routers/automation.py
  api/routers/communications.py
  api/routers/data_propensity.py
  api/routers/differentiators.py
  api/routers/onboarding.py
  api/routers/open_data.py
  api/routers/portfolio.py
  api/routers/properties.py
  api/routers/quick_wins.py
  api/routers/sharing.py
  api/routers/workflow.py
  api/schemas.py
  db/models.py
  db/versions/001_create_ux_feature_models.py
Due: check-tenant-queries, check-migrations, lint-tenant-usage

feat: Add authentication system and external integrations
  .env.example
  Dockerfile
  api/auth.py
  api/integrations/__init__.py
  api/integrations/pdf_generator.py
  api/integrations/sendgrid_client.py
  api/integrations/storage_client.py
  api/integrations/twilio_client.py
  api/main.py
  api/routers/auth.py
  api/routers/quick_wins.py
  api/routers/webhooks.py
  api/schemas.py
  docker-compose.yml
  monitoring/prometheus.yml
  nginx/conf.d/api.conf
  nginx/nginx.conf
  pyproject.toml
  scripts/seed_data.py
  scripts/setup.sh
Due: check-tenant-queries, lint-tenant-usage

feat: Add Celery background jobs and Server-Sent Events (SSE)
  api/celery_app.py
  api/main.py
  api/routers/jobs.py
  api/routers/sse_events.py
  api/routers/webhooks.py
  api/sse.py
  api/tasks/__init__.py
  api/tasks/email_tasks.py
  api/tasks/enrichment_tasks.py
  api/tasks/maintenance_tasks.py
  api/tasks/memo_tasks.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive README with full feature documentation
  README.md
Due: none

feat: Add Row-Level Security, Rate Limiting, and Redis Caching
  api/cache.py
  api/database.py
  api/main.py
  api/rate_limit.py
  db/migrations/versions/002_add_rls_policies.py
Due: check-tenant-queries, lint-tenant-usage

feat: Add ETag/304 support for conditional requests
  api/cache.py
  api/etag.py
  api/main.py
  api/routers/properties.py
  docs/ETAG_CACHING.md
Due: check-tenant-queries, lint-tenant-usage

feat: Implement real data provider integrations
  api/data_providers/__init__.py
  api/data_providers/attom.py
  api/data_providers/base.py
  api/data_providers/fema.py
  api/data_providers/ms_buildings.py
  api/data_providers/openaddresses.py
  api/data_providers/osm.py
  api/data_providers/overture.py
  api/data_providers/regrid.py
  api/data_providers/usgs.py
  api/routers/open_data.py
Due: check-tenant-queries, lint-tenant-usage

feat: Initialize Next.js frontend application
  frontend/next.config.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/src/store/authStore.ts
  frontend/src/types/index.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: none

feat: Add comprehensive webhook security and SSE authentication fixes
  api/auth.py
  api/routers/sse_events.py
  api/routers/webhooks.py
  api/webhook_security.py
  pyproject.toml
Due: check-tenant-queries, lint-tenant-usage

feat: Implement comprehensive idempotency key system
  api/idempotency.py
  api/routers/jobs.py
  db/migrations/versions/003_add_idempotency.py
  db/models.py
Due: check-tenant-queries, lint-tenant-usage

feat: Add login lockout and progressive backoff security
  api/rate_limit.py
  api/routers/auth.py
Due: check-tenant-queries, lint-tenant-usage

feat: Implement comprehensive DLQ system with replay and monitoring
  api/celery_app.py
  api/dlq.py
  api/main.py
  api/routers/admin.py
  api/tasks/maintenance_tasks.py
  db/migrations/versions/004_add_dlq_tracking.py
  db/models.py
  docs/DLQ_SYSTEM.md
Due: check-tenant-queries, lint-tenant-usage

feat: Apply idempotency to critical endpoints
  api/routers/properties.py
  api/routers/quick_wins.py
Due: check-tenant-queries, lint-tenant-usage

feat: Implement portfolio reconciliation with ±0.5% validation
  api/celery_app.py
  api/reconciliation.py
  api/routers/admin.py
  api/tasks/maintenance_tasks.py
  db/migrations/versions/005_add_reconciliation_history.py
  db/models.py
Due: check-tenant-queries, lint-tenant-usage

feat: Implement comprehensive deliverability and compliance system
  api/deliverability.py
  api/routers/automation.py
  api/routers/quick_wins.py
  db/migrations/versions/006_add_compliance_tables.py
  db/models.py
  pyproject.toml
Due: check-tenant-queries, lint-tenant-usage

feat: Implement frontend authentication pages
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/store/authStore.ts
Due: none

feat: Complete frontend implementation with demo-ready features
  frontend/src/app/dashboard/communications/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/pipeline/page.tsx
  frontend/src/app/dashboard/portfolio/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/dashboard/team/page.tsx
  frontend/src/app/dashboard/templates/page.tsx
  frontend/src/components/DashboardLayout.tsx
  frontend/src/components/PropertyDrawer.tsx
  frontend/src/hooks/useSSE.ts
  frontend/src/types/index.ts
Due: none

test: Add comprehensive integration test suite
  pytest.ini
  requirements-test.txt
  tests/README.md
  tests/__init__.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/integration/test_auth_and_ratelimiting.py
  tests/integration/test_deliverability_compliance.py
  tests/integration/test_idempotency.py
  tests/integration/test_reconciliation.py
  tests/integration/test_sse.py
  tests/integration/test_webhooks.py
Due: none

test: Add comprehensive E2E tests with Playwright
  playwright.config.py
  tests/e2e/__init__.py
  tests/e2e/test_auth_flow.py
  tests/e2e/test_memo_workflow.py
  tests/e2e/test_pipeline.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive operational runbooks
  docs/runbooks/DLQ_REPLAY.md
  docs/runbooks/PITR_RECOVERY.md
  docs/runbooks/PROVIDER_KILLSWITCH.md
Due: none

feat: Add comprehensive monitoring and API documentation
  api/main.py
  api/metrics.py
  api/openapi_config.py
  api/requirements.txt
  docs/API_DOCUMENTATION.md
  docs/grafana/README.md
Due: check-tenant-queries, lint-tenant-usage

feat: Add Grafana dashboard configurations
  docs/grafana/dlq-dashboard.json
  docs/grafana/rate-limiting-dashboard.json
  docs/grafana/reconciliation-dashboard.json
Due: none

docs: Add comprehensive platform audit report
  docs/PLATFORM_AUDIT_REPORT.md
Due: none

docs: Add reality check audit - honest assessment
  docs/REALITY_CHECK_AUDIT.md
Due: none

feat: Complete platform setup and configuration
  api/schemas.py
  db/alembic.ini
  db/migrations/env.py
  db/migrations/script.py.mako
  db/migrations/versions/001_create_ux_feature_models.py
  db/migrations/versions/002_add_rls_policies.py
  db/migrations/versions/007_add_password_hash_to_users.py
  db/migrations/versions/b81dde19348f_add_ping_model.py
  db/models.py
  docs/SETUP_GUIDE.md
  requirements.txt
Due: check-tenant-queries, lint-tenant-usage

fix: Resolve backend import and database connection issues
  api/database.py
  api/integrations/__init__.py
  api/main.py
Due: check-tenant-queries, lint-tenant-usage
