Repository codybias9/real-estate-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-tenant-queries, check-migrations, lint-tenant-usage

.pre-commit-config.yaml:

# Pre-commit hooks for Real Estate OS
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Tenant ID Query Checks
      - id: check-tenant-queries
        name: Check tenant_id in queries
        entry: python scripts/ci/check_tenant_queries.py
        language: system
        pass_filenames: false
        files: \.(py)$
        exclude: '^(tests/|scripts/ci/)'

      # Migration Tenant ID Checks
      - id: check-migrations
        name: Check migrations for tenant_id
        entry: python scripts/ci/check_migrations.py
        language: system
        pass_filenames: false
        files: ^db/versions/.*\.py$

      # Tenant Usage Linting
      - id: lint-tenant-usage
        name: Lint tenant usage patterns
        entry: python scripts/ci/lint_tenant_usage.py
        language: system
        pass_filenames: false
        files: \.(py)$
        exclude: '^(tests/|scripts/ci/)'

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        exclude: ^(migrations/|web/)

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
        exclude: ^(migrations/|web/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=100", "--extend-ignore=E203,W503"]
        exclude: ^(migrations/|web/)

  # TypeScript/JavaScript (for web frontend)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: ^web/.*\.(ts|tsx|js|jsx)$
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/eslint-plugin@6.0.0'
          - '@typescript-eslint/parser@6.0.0'

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

fix(docker): Add missing db and ml directories to API container
  Dockerfile.api
Due: none

fix(alembic): Update script_location to point to db directory
  db/alembic.ini
Due: none

fix(alembic): Set script_location to db/migrations
  db/alembic.ini
Due: none

fix(db): Add __init__.py to make db a Python package
  db/__init__.py
Due: check-tenant-queries, lint-tenant-usage

fix(docker): Add build-essential for bcrypt compilation
  Dockerfile.api
Due: none

feat(auth): Implement complete user registration with multi-tenant support
  api/auth_utils.py
  api/database.py
  api/main.py
  api/requirements.txt
  api/routers/__init__.py
  api/routers/auth.py
  api/schemas.py
  db/env.py
  db/models.py
  db/versions/001_create_initial_schema.py
Due: check-tenant-queries, check-migrations, lint-tenant-usage

fix(alembic): Correct script_location to match actual directory structure
  db/alembic.ini
Due: none

fix(alembic): Add sys.path modification to env.py for proper module imports
  db/env.py
Due: check-tenant-queries, lint-tenant-usage

feat(api): Align API with frontend expectations - add /api/v1 prefix and update field names
  api/main.py
  api/routers/auth.py
  api/schemas.py
Due: check-tenant-queries, lint-tenant-usage

fix(models): Change User model 'name' field to 'full_name' to match database schema
  api/routers/auth.py
  api/schemas.py
  db/models.py
Due: check-tenant-queries, lint-tenant-usage

fix(auth): Update login endpoint to accept JSON body instead of form parameters
  api/routers/auth.py
  api/schemas.py
Due: check-tenant-queries, lint-tenant-usage

fix(auth): Add container rebuild scripts to resolve authentication conflict
  AUTH_FIX_README.md
  rebuild-api.ps1
  rebuild-api.sh
Due: none

docs(auth): Add manual fix instructions for Windows authentication issues
  COPY_THESE_FILES.ps1
  FIX_AUTH_MANUALLY.md
Due: none

feat(api): Add core API routers for dashboard functionality
  api/main.py
  api/routers/analytics.py
  api/routers/auth.py
  api/routers/deals.py
  api/routers/leads.py
  api/routers/properties.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add dashboard fix instructions for rebuilding API
  DASHBOARD_FIX_INSTRUCTIONS.md
Due: none

feat(api): Add pipeline stats endpoint for dashboard
  api/routers/properties.py
Due: check-tenant-queries, lint-tenant-usage

fix(auth): Return TokenResponse from login endpoint with access token and user object
  api/routers/auth.py
Due: check-tenant-queries, lint-tenant-usage

feat(platform): Add comprehensive data pipeline and system monitoring APIs
  PLATFORM_ARCHITECTURE.md
  api/main.py
  api/routers/analytics.py
  api/routers/pipelines.py
  api/routers/system.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive platform testing guide
  TESTING_PLATFORM_FEATURES.md
Due: none

feat: Implement comprehensive data processing platform API
  API_IMPLEMENTATION_SUMMARY.md
  TECHNICAL_PLATFORM_DOCUMENTATION.md
  api/__init__.py
  api/config.py
  api/database.py
  api/main.py
  api/models.py
  api/requirements.txt
  api/routers/__init__.py
  api/routers/enrichment.py
  api/routers/health.py
  api/routers/metrics.py
  api/routers/pipelines.py
  api/routers/scoring.py
  api/routers/scraping.py
  api/seed_demo_data.py
  api/services/__init__.py
  api/services/airflow_client.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive platform audit and requirements clarification
  CURRENT_STATE_AUDIT.md
Due: none

docs: Comprehensive backend API audit - identify missing sales ops endpoints
  BACKEND_API_AUDIT.md
Due: none

feat: Complete sales ops platform with 9 new routers and 50+ endpoints
  api/main.py
  api/routers/automation.py
  api/routers/communications.py
  api/routers/data_propensity.py
  api/routers/jobs.py
  api/routers/portfolio.py
  api/routers/properties.py
  api/routers/sharing.py
  api/routers/sse_events.py
  api/routers/status.py
  api/routers/templates.py
  api/routers/workflow.py
Due: check-tenant-queries, lint-tenant-usage

fix(api): Change SSE router prefix from /sse-events to /sse to match frontend expectations
  api/routers/sse_events.py
Due: check-tenant-queries, lint-tenant-usage

fix(frontend): Resolve hydration error in DashboardPage
  frontend/src/app/dashboard/page.tsx
Due: none

fix(frontend): Resolve hydration errors at Zustand store level
  frontend/src/app/layout.tsx
  frontend/src/components/AuthHydration.tsx
  frontend/src/store/authStore.ts
Due: none

fix(frontend): Replace null returns with loading placeholders to prevent hydration mismatch
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/DashboardLayout.tsx
Due: none

fix(frontend): Use ClientOnly wrapper to completely eliminate hydration errors
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/ClientOnly.tsx
  frontend/src/components/DashboardLayout.tsx
Due: none

fix(frontend): Remove Google Fonts to resolve network fetch error
  frontend/src/app/layout.tsx
Due: none

fix(frontend): Add missing dependencies for React Query and toast notifications
  frontend/package.json
Due: none

fix(frontend): Add Dockerfile and docker-compose to run frontend in Docker
  docker-compose.frontend.yml
  frontend/Dockerfile
Due: none

fix(backend): Resolve SQLAlchemy and typing import errors
  api/routers/system.py
  db/models.py
Due: check-tenant-queries, lint-tenant-usage

docs: Add comprehensive implementation plan for demo readiness
  PLAN.md
Due: none

feat(api): Add quick-wins router for Communications memo generation
  api/main.py
  api/routers/quick_wins.py
Due: check-tenant-queries, lint-tenant-usage

feat(api): Add /portfolio/metrics endpoint for dashboard compatibility
  api/routers/portfolio.py
Due: check-tenant-queries, lint-tenant-usage

feat: Wire dashboard metrics to API instead of hardcoded values
  api/routers/analytics.py
  frontend/src/app/dashboard/page.tsx
  frontend/src/lib/api.ts
Due: check-tenant-queries, lint-tenant-usage

feat(api): Enhance seed data with 15 comprehensive properties across pipeline stages
  api/routers/properties.py
Due: check-tenant-queries, lint-tenant-usage

feat(frontend): Wire template Create/Edit UI with full CRUD functionality
  frontend/src/app/dashboard/templates/page.tsx
  frontend/src/components/TemplateForm.tsx
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: none

feat(frontend): Enhance PropertyDrawer with Data Signals and Provenance tabs
  frontend/src/components/PropertyDrawer.tsx
  frontend/src/lib/api.ts
Due: none
